include mixins

block vars
	-
		var baseDir = './'

doctype html
html(lang="en")
	head
		block head-start
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title KUN.UZ - тестовое задание для Smarter.uz
		block styles
			link(rel="stylesheet", href=`${baseDir}css/main.css?v=${Date.now()}`)
		block head-end
	body
		block body-start
		block content
		block scripts
			script(src=`${baseDir}js/main.js?v=${Date.now()}`)
		block body-end
