.main
	.container
		.news.news--latest
			+newsItem('Авто', '', '16 май, 22:00', 'Названа статистика угоняемых автомобилей в Узбекистане')
			+newsItem('Наука', 'green', '15 май, 20:00', 'Задача организации, в особенности же новая модель организационной.')
			+newsItem('Наука', 'green', '14 май, 18:00', 'Задача организации, в особенности же новая модель организационной.')


		.row
			.col.col-lg-4.order-lg-last
				.news.news--top
					.news__header
						.news__header-title Топ новости
						.news__header-category Главное
					.news__content
						+newsItem('Главное', '', '9 май, 10:00', 'Задача организации, в особенности же новая модель организационной.')
						+newsItem('Главное', '', '8 май, 08:00', 'Задача организации, в особенности же новая модель организационной.')
						+newsItem('Главное', '', '7 май, 06:00', 'Задача организации, в особенности же новая модель организационной.')
			.col.col-lg-8
				.news.news--more
					+newsItem('Спорт', 'green', '13 май, 16:00', 'Задача организации, в особенности же новая модель организационной.', 'Товарищи! Реализация таких намеченных плановых заданий влечет за собой процесс внедрения и модернизации всех соответствующих условий активизации. Но, с другой стороны - укрепление и развитие структуры играет важнейшую роль в формировании их направлений')
					+newsItem('Наука', 'green', '12 май, 14:00', 'Задача организации, в особенности же новая модель организационной.', 'Товарищи! Реализация таких намеченных плановых заданий влечет за собой процесс внедрения и модернизации всех соответствующих условий активизации. Но, с другой стороны - укрепление и развитие структуры играет важнейшую роль в формировании их направлений')
					+newsItem('Авто', '', '11 май, 12:00', 'Задача организации, в особенности же новая модель организационной.', 'Товарищи! Реализация таких намеченных плановых заданий влечет за собой процесс внедрения и модернизации всех соответствующих условий активизации. Но, с другой стороны - укрепление и развитие структуры играет важнейшую роль в формировании их направлений')
					+newsItem('Спорт', 'green', '10 май, 10:00', 'Задача организации, в особенности же новая модель организационной.', 'Товарищи! Реализация таких намеченных плановых заданий влечет за собой процесс внедрения и модернизации всех соответствующих условий активизации. Но, с другой стороны - укрепление и развитие структуры играет важнейшую роль в формировании их направлений')