@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?meyesg');
	src:  url('../fonts/icomoon.eot?meyesg#iefix') format('embedded-opentype'),
		  url('../fonts/icomoon.ttf?meyesg') format('truetype'),
		  url('../fonts/icomoon.woff?meyesg') format('woff'),
		  url('../fonts/icomoon.svg?meyesg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  .ico {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .ico-angle-down:before {
	content: "\e900";
  }
  .ico-angle-right:before {
	content: "\e901";
  }
  .ico-arrow-down:before {
	content: "\e902";
  }
  .ico-arrow-up:before {
	content: "\e903";
  }
  .ico-calendar:before {
	content: "\e904";
  }
  .ico-cursor:before {
	content: "\e905";
  }
  .ico-eur:before {
	content: "\e906";
	color: #331143;
  }
  .ico-internet:before {
	content: "\e907";
  }
  .ico-rub:before {
	content: "\e908";
	color: #331143;
  }
  .ico-usd:before {
	content: "\e913";
	color: #331143;
  }
  .ico-zoom:before {
	content: "\e914";
  }
  